################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WTCWallet/v15
/packages
/WTCWallet/bin
/WTCWallet/obj
